<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
    <div class="container">
        <h1>Create a Neww Budget Item</h1>
        <form method="POST" action="/budgets">
            <label for="date">date:</label>
            <!-- //use the attribute placeholderin the input field to see a placeholder value, rather than putting a label of the input field outside.// -->
            <input type="text" name="date" id="date" placeholder="Insert Date Here">
            <br>
            <label for="name">name:</label>
            <input type="text" name="name" id="name" placeholder="Insert Name Here">
            <br>
            <label for="from">from:</label>
            <input type="text" name="from" id="from" placeholder="Expense From">
            <br>
            <label for="amount">amount:</label>
            <input type="text" name="amount" id="amount" placeholder="Insert Amount Here">
            <br>
            <label for="tags">tags:</label>
            <input type="text" name="tags" id="tags" placeholder="Insert Tags Here (comma separated)">
            <br>
            <input type="submit" value="Add Expense">
        </form>
    </div>
</body>
</html>

